<!-- Formulario de creación / edición -->
<div class="flex justify-content-center align-items-center min-h-screen w-full" *ngIf="operation !== 'delete'">
  <p-card header="Formulario producto" class="w-10">
    <form [formGroup]="formProduct" (ngSubmit)="onSubmit()" class="flex flex-column gap-2">
      <div class="field flex flex-column gap-1">
        <label for="userId">Usuario {{operation === 'edit' ? 'editor' : ''}}</label>
        <p-dropdown id="userId" [options]="userList" optionLabel="email" optionValue="id"
          formControlName="userId" placeholder="Seleccione un usuario">
        </p-dropdown>
        <small *ngIf="formProduct.get('userId')?.invalid && formProduct.get('userId')?.touched" class="p-error">
          Usuario requerido
        </small>
      </div>

      <div class="field flex flex-column gap-1">
        <label for="name">Nombre Producto</label>
        <input id="name" type="text" pInputText formControlName="name" />
      </div>

      <div class="field flex flex-column gap-1">
        <label for="quantity">Cantidad</label>
        <p-inputNumber id="quantity" formControlName="quantity" />
      </div>

      <div class="field flex flex-column gap-1">
        <label for="description">Descripción</label>
        <input id="description" type="text" pInputText formControlName="description" />
      </div>

      <div class="flex gap-2">
        <p-button label="Guardar" [loading]="isSaveInProgress" type="submit"></p-button>
      </div>
    </form>
  </p-card>
</div>

<!-- Formulario de eliminación -->
<div class="flex justify-content-center align-items-center min-h-screen w-full" *ngIf="operation === 'delete'">
  <p-card header="Eliminar producto" class="w-10">
    <form [formGroup]="formDeleteProduct" (ngSubmit)="deleteProduct()" class="flex flex-column gap-2">
      <div class="field flex flex-column gap-1">
        <label for="deleteUserId">Usuario</label>
        <p-dropdown id="deleteUserId" [options]="userList" optionLabel="email" optionValue="id"
          formControlName="userId" placeholder="Seleccione un usuario">
        </p-dropdown>
        <small *ngIf="formDeleteProduct.get('userId')?.invalid && formDeleteProduct.get('userId')?.touched" class="p-error">
          Usuario requerido
        </small>
      </div>

      <div class="flex gap-2">
        <p-button label="Eliminar" [loading]="isDeleteInProgress" type="submit"></p-button>
      </div>
    </form>
  </p-card>
</div>
